.menu {
  display: inline-block;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  &Item {
    width: 256px;
    height: 40px;
    line-height: 40px;
    padding-left: 24px;
    cursor: pointer;
    &:hover {
      color: #1677ff;
      background-color: #ecf5ff;
    }
    &Selected {
      color: #1677ff;
      background-color: #ecf5ff;
    }
  }
}
